---
layout: default
---

.row.align-items-center.justify-content-center.h-100
  .col.col-sm-8.col-md-6.text-center
    %form
      {% include question/question.haml
      text="I am assertive, demanding, and decisive." %}
