---
layout: default
---

.row
  .col
    %h1.text-primary Hello there!
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
      corporis ipsam cumque rerum quas quia neque, dolor vitae laboriosam.
