%script{ src: "/js/jquery/jquery.min.js" }
%script{ src: "/js/jquery/jquery-ui.min.js" }
%script{ src: "/js/popper/popper.min.js" }
%script{ src: "/js/bootstrap/bootstrap.min.js" }
%script{ src: "/js/main.js" }
