---
---

%label.btn.btn-light.border.rounded.my-1
  %input{ autocomplete: "off", id: "{{ include.id }}",
  name: "{{ include.name }}", value: "{{ include.value }}", type: "radio" }
  {{ include.text }}
