---
---

.form-group
  %h4.mb-4.mb-sm-5
    {{ include.text }}
  .btn-group-answers.px-sm-5.w-100{ data: { toggle: "buttons" }}
    {% include question/button.haml text="Always" id="q1-1" name="q1" value=5 %}
    {% include question/button.haml text="Often" id="q1-1" name="q1" value=4 %}
    {% include question/button.haml text="Sometimes" id="q1-1" name="q1" value=3 %}
    {% include question/button.haml text="Rarely" id="q1-1" name="q1" value=2 %}
    {% include question/button.haml text="Never" id="q1-1" name="q1" value=1 %}
