---
---

.form-group.questions{ style: "display: none;" }
  %h4.mb-4.mb-sm-5
    {{ include.text }}
  .btn-group-answers.px-sm-5.w-100{ data: { toggle: "buttons" }}
    {% for answer in include.answers %}
    {% assign id = "{{include.type}}{{include.position}}-{{answer.position}}" %}
    {% assign name = "{{include.type}}{{include.position}}" %}
    {% include question/button.haml text=answer.text id=id name=name
    value=answer.value %}
    {% endfor %}
