<div style="text-align:center">
  <img width="100" class="center-block" alt="Angular Logo" src="../assets/677428.png">
  <p class="question">Welcome to highlands DISC profile test!</p>

  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  </form>

  <div class="btn-group-vertical"> 
    <a routerLink="/questions">
      <button type="button" class="btn btn-outline-secondary btn-lg" (click)='start()'>Start</button>
    </a>
  </div>
</div>